body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

}
/* nav{
    background-color: bisque;
} */

nav{
    position: fixed;
    justify-content: center;
}

ul{
    text-align: center;
    gap: 10px;
}
.navbar-brand{
    font-style: 'Noto Sans',sans-serif;
    font-weight: bold;
}

.collapse{
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.navbar-brand{
    margin-left: 13px;
}


