<!DOCTYPE html>
<html lang="en">
<head>

	<!--===============================================================================================-->
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<script
      src="https://kit.fontawesome.com/3f2c2950a2.js"
      crossorigin="anonymous"
    ></script>

<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form name = "reg_form" action="POST"  class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Join Vidyarthi
					</span>
					<span class="login100-form-title p-b-48">
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid username is: a@b.c">
                        
						<input class="input100" type="text" name="username" id="username">
						<span class="focus-input100" data-placeholder="New Username"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password" >
						
						<input class="input100" type="text" name="reg_no" id="reg_no">
						<span class="focus-input100" data-placeholder="Registration no."></span>
					</div>
					<div class=" validate-input timetable" data-validate = "Valid timetable is: a@b.c">

                        <span class="focus-input100 tt" data-placeholder="Upload Timetable"></span>
						<label class="custom-file-upload">
							<input class="input100 inputfile" id="timetable" type="file" name="timetable" style="font-size:10px;" accept=".csv">
							
						</label>
						
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password" >
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password" id="password">
						<span class="focus-input100" data-placeholder="New Password"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password" >
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Confirm Password"></span>
					</div>

					<div class="container-login100-form-btn login-190">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class ="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<h3 class="highlow"><i class="fa-regular fa-copyright fa-1x"></i>Project Vidyarthi 2022</h3>

					
					
				</form>
   <!--===============================================================================================-->
	<script>
	const form = document.getElementById('reg_form')
	
	form.addEventListner('submit',registerUser)

	async function registerUser(event)
	{
		event.preventDefault()
		const username = document.getElementById('username').value
		const password = document.getElementById('password').value
		const reeg_no = document.getElementById('reg_no').value

		const result = await fetch('/api/register',{
			method: 'POST',
			headers:{
				'Content-Type':'application/json'
			},
			body: JSON.stringify({
				username,
				password,
				reg_no
			})
		}).then((res) => res.json())

	}	
	</script>
	<!--===============================================================================================-->
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>


</body>
</html>